/*=== Fontes ======================*/
@font-face{
	font-family: Lato Regular;
	src: url('../fonts/Lato-Regular.ttf');
}
@font-face{
	font-family: Lato Light;
	src: url('../fonts/Lato-Light.ttf');
}
@font-face{
	font-family: Lato Bold;
	src: url('../fonts/Lato-Black.ttf');
}
@font-face{
	font-family: Bookman Old Style;
	src: url('../fonts/Bookman_Old_Style.ttf');
}
@font-face{
	font-family: Myriad Pro Regular;
	src: url('../fonts/Myriad_Pro_Regular.ttf');
}

*,
*:before,
*:after { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

/*=== geral =================*/
body{
	font-family: Lato Regular;
	font-size: 10px;
	transition: .5s all ease;
}
#resultado{
	margin-top: 0;
}

/* ADICIONADO */
#section0{
	background-image: url(../images/background.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* ADICIONADO */
#background_2{
	background-image: url(../images/mapa.png);
	background-size: 46%;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
	height: 920px;
	margin-top: 65px;
	padding: 0;
}

.legendLinear{
	position: absolute;
}
.soon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 18px;
	opacity:0;
	transition: .2s all ease;
}
.menu-item:hover .soon{
	opacity:1;
}
/* seleção */
::-moz-selection { /* Code for Firefox */
	color: #FFF;
	background: #444;
}
::selection {
	color: #FFF;
	background: #444;
}
a{
	text-decoration: none;
	transition: .2s all ease;
}
a:hover, a:link, a:visited{
	text-decoration: none;
}
a.img-link:hover{
	opacity: .8;
}
a.home.button{
	margin-bottom: 55px;
	color: #1b452e;
	background-color: #c4c431;
	padding: 5px 25px;
}
a.link{
	color: #434443;
}
a.link:hover{
	color: #737277;
}
button, .button{
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
	letter-spacing: 2px;
	border: none;
	outline: none;
	padding: 3px 0px;
	transition: .2s all ease;
}

i.color {
	display: block;
	float: left;
	width: 15px;
	height:	15px;
	background-color: #fff;
	border: 1px solid white;
}

.span-color {
	display: block;
	float: left;
	padding-left: 5px;
}

span.opt{
	vertical-align: middle;
	width: 100%;
	cursor: pointer;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10px;
	height: 18px;
	border-radius: 10px;
	background-color: #6DBFC9;
	color: #FFF;
	line-height: 12px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

button.opt{
	vertical-align: middle;
	width: 100%;
	height: 17px;
	border-radius: 10px;
	background-color: #6DBFC9;
	color: #FFF;
	line-height: 12px;
}
button.opt.small{
	font-size: 6px;
	line-height: 6px;
}
button.opt:hover, button.opt.active{
	background-color: #2D7F89;
}
.opt-title{
	font-size: 11px;
	color: #6d7d46;
	letter-spacing: 2px;
	font-weight: normal;
	margin-bottom: 5px;
}
.col-btn{
	padding: 1px;
}

.content-btn-mapa {
	width:	210px;
	float: right;
}
.btn-mapa {
	margin-top:	10px;
	width: 100px;
	padding-left: 5px;
	margin-bottom: 20px;
	float: left;
}

#loading {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	background-image: url(http://i.kinja-img.com/gawker-media/image/upload/chag4hzw0pgvgy5ujnom.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 150px;
	width: 100%;
	height: 100%;
}

.show-xxs{
	display: none;
}
.hidden-xxs{
	display: block;
}
.error{
	text-align: justify;
	color: #e4003f;
}
/*==== home ======================*/
.logo-img img{
	max-width: 100%;
}

.separator{
	margin-bottom: 15px;
	width: 35px;
	border-bottom: 5px solid #003F34;
}

/* ADICIONADO */
.separator_2{
	margin: 50px auto;
	width: 100px;
	border-bottom: 5px solid #5b5b5f;
}
/* ADICIONADO */
.separator_3{
	border-bottom: 60px solid #6DBFC9;
	border-radius: 0 30px 30px 0;
}

.home-info{
	display: table;
	height: 100vh;
	width: 100%;
}
.home-info .content{
	display: table-cell;
	vertical-align: middle;
}
.desc-title{
	color: #737277;
	font-size: 20px;
	padding-top: 50px;
}

.state-title, .prc-title{
	color: #ccc;
	font-size: 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: Lato Light;
	margin-top: 30px;
	margin-bottom: 15px;
}

.cad-title {
	color: #ccc;
	font-size: 14px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: Lato Light;
	margin-top: 30px;
	margin-bottom: 15px;
}

.value-info-title {
	position: absolute;
	bottom: 0;
	float: left;
	color: #888;
	font-size: 8px;
	text-transform: uppercase;
	font-family: Lato Light;
}

.font-title {
	position: absolute;
	bottom: 0;
	right: 8;
	float: right;
	color: #888;
	font-size: 8px;
	text-transform: uppercase;
	font-family: Lato Light;
}

.data-values {
	margin-top: 1px;
	width:	100%;
	color: #bbb;
	font-size: 14px;
	letter-spacing: 1px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: Lato Regular;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.integer-value {
	float: left;
	width: 100%;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
}

.setor-value {
	float: left;
	width: 100%;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.number {
	display: flex;
	width: 100%;
	font-size: 10px;
	margin-top: 15px;
	color: #6DBFC9;
	margin-bottom: 20px;
}

.description-number {
	text-transform: uppercase;
	font-weight: 500;
}

.percent-value {
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.percent-value .box-dados{
	margin-top: 10px;
	display:flex;
	width: 100%;
}

.container-flex{
	display: flex;
	align-items: center;
	height: 70%;
	width: 50%;
}

.desc{
	color: #737277;
	font-size: 12px;
	letter-spacing:  0.5px;
	text-align: justify;
}

#desc-item {
	height: 80px;
	color: #ff7272;
}

.neccult-info{
	display: table;
	padding: 100px 0px 100px 20px;
	height: 100vh;
	width: 100%;
}
.neccult-info .content{
	display: table-cell;
	vertical-align: bottom;
}

.welcome{
	font-size: 40px;
	color: #ffffff;
	text-transform: uppercase;
}

.img_atlas{
	width: 35%;
}

.row{
	margin: 0 auto;
	padding-left: 10%;
}

.explorar{
	font-family: Lato Bold;
	font-size: 20px;
	color: #6DBFC9;
	text-transform: uppercase;
	background-color: #ffffff;
	border-radius: 20px 20px 0px 0px;
	padding-top: 5px;
	bottom: 0px;
	position: absolute;
	letter-spacing: 10px;
}


.icons-list{
	margin-bottom: 40px;
	text-align: center;
}

.img_icons{
	width: 75%;
}

.title-question{
	font-family: Bookman Old Style;
	font-size: 39px;
	margin-top: 50px;
	color: #737277;
}

.question{
	margin-top: 25px;
	font-family: Lato Regular;
	font-size: 16px;
	text-align: justify;
	padding-right: 30px;
	color: #737277;

}

.footer{
	padding : 0;
	margin-top: 20px;
	background-color: inherit !important;
}

.text-atlas{
	width: 92%;
}

.logo_fim{
	padding: 0px;
	margin-top: 20px;
}
.img_logofim{
	width: 140px;
	height: auto;
	margin-top: 50px;

}
/*==== menu home ===*/
.menu-col{
	padding: 0px;
	margin-right: -1px;
}
.menu-item{
	display: table;
	height: 100vh;
	width: 100%;
	padding: 100px 0px;
}
.menu-content{
	display: table-cell;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	background-size: cover;
}

#menuvariaveis {
	margin-bottom:	20px;

}

.text-wrapper{
	position: absolute;
}

#teste-menu-mob{
	width: 100%;
	height: 50px;
	background-color: #2b542c;
	position: fixed;
	top: 0;
	z-index: 999;
}

/* video bg */
.video{
	position: absolute;
	height: 82vh;
	width: 100%;
	overflow: hidden;
	z-index: -999;
	background-image: url('../images/1_menu1.jpg');
}
.video video{
	height: 100%;
}
video::-webkit-media-controls {
	display:none !important;
}

/* conteúdo menu */
.menu-content .text{
	display: inline-block;
	margin: 15px 0px;
}
.menu-item .menu-content .square-icon{
	display: inline-block;
	width: 35px;
	height: 65px;
	margin: 0px 5px 0px 0px;
	background-color: white;
	vertical-align: top;
}
.menu-content#item1 .square-icon{
	background-color: #DFDD00;
}
.menu-content#item2 .square-icon{
	background-color: #98BF13;
}
.menu-content#item3 .square-icon{
	background-color: #00926D;
}
.menu-content#item4 .square-icon{
	background-color: #003F34;
}
.menu-item .menu-content#item1{
	background-image: url('../images/1_menu1.jpg');
}
.menu-item .menu-content#item1:hover{
	background-image: none;
}
.menu-item .menu-content#item2{
	background-image: url('../images/2_menu.png');
}
.menu-item .menu-content#item3{
	background-image: url('../images/3_menu.png');
}
.menu-item .menu-content#item4{
	background-image: url('../images/4_menu.png');
}

#title-view, #title-view-leg {
	text-align: center;
	font-size: 9px;
	width: 85%;
	margin: auto;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 20px;
	letter-spacing: 2px;
}

#title-view-scc, #title-view-leg-scc , #title-view-leg-scc-donut {
	display: flex;
	flex-flow: column;
	overflow: auto;
	text-align: left;
	font-size: 8px;
	width: 85%;
	height: 70%;
	padding-top: 5%;
	margin: auto;
	justify-content: space-around;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;


}

#title-view-leg-scc-donut{
	padding-top: 0;
	margin-top: 0;
	height: 100%;
	display: flex;
	justify-content: space-around;
}



#title-view-scc span, #title-view-leg-scc span , #title-view-leg-scc-donut span {
	cursor: pointer;
}

#title-view div {
	width: 100%;
	position: relative;
	float: left;
}

#option-title-view {
	position: relative;
	display: block;
	float: left;
	text-align: center;
}

#view_box_scc{
	border: none;
	width: 80%;
	height: 90%;
	float: left;

}

#containerTree #menu-view{
	float: right;
	width: 19%;
}

/*==== menu círculos ====*/
.logo-min{
	width: 91px;
	height: 78px;
	margin: 60px auto 60px auto;
	background-image: url(../images/logo_min.png);
}

div.title {
	color: #5b5b5f;
}

p.title{
	color: #c4c431;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 3px;
	padding-bottom: 0px;
	padding-top:	6vh;
	text-transform: uppercase;
}
.var-list-line{
	margin: 55px 0 150px 0;
}
ul.var-list{
	list-style: none;
	padding: 0px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
}
ul.var-list li{
	margin: 25px 0px;
	text-align: center;
	padding: 15px 0;
	min-height: 55px;
}
ul.var-list li{
	color: #FFF;
	cursor: pointer;
}

.green1 li{
	background: #deda00;
}
.green2 li{
	background: #e6e3a1;
}
.green3 li{
	background: #7eba79;
}
.green4 li{
	background: #4ea840;
}

.destacado {
	stroke:	#555 !important;
	stroke-width: 0px;
}

.destacado-scc {
	stroke:	#555 !important;
	stroke-width: 1px;
}
.container {
	width: 100% !important;
	padding-top: 80px;
}
/*=============  resultados =================*/
article.results-article{
	display: table;
	height: 61vh;
	width: 100%;
	padding: 10px 0px;
	background-color: #fff;
	color: #5b5b5f;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.1em;
}
article.results-article svg{
	font-weight: normal;
	font-weight: normal;
}
article.results-article div.results-content{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}
.desc-chart .title{
	margin-bottom: 40px;
	margin-top: 50px;
	font-size: 22px;
	font-family: Lato Regular;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 40px;
	text-align: center;
}
.desc-chart .title span{
}
.separator.white{
	border: 2px solid #5b5b5f;
	margin: auto;
}
.desc-chart .logo-desc{
	margin-top: 50px;
}
.container-chart{
	display: table;
	height: 100%;
	/*background-color: #f0f0f0;*/
	background-color: white;
	width: 100%;
}
.container-chart .content{
	display: table-cell;
	width: 100%;
	height: 100%;
	padding-right: 15px;
}
.container-chart .content .chart{
	width: 100%;
	height: 100%;
	/*background-color: #f0f0f0;*/
	background-color: white;
	padding: 15px;
}

#view-boxes>div {
	/*background-color: #f0f0f0;*/
	background-color: white;
	border-radius:	20px;
	border: 5px solid #ddd;
}
.container-boxes{
	width: 100%;
	height: auto;
	padding: 0 15%;
	display: flex;
	justify-content: space-around;
}
#view-boxes{
	display: block;
	padding-left: 0;
}


#containerDesc, #containerMapa{
	right:10px;
	margin: 10px 0 10px 0;
}

#containerBarra, #containerDados{
	left:10px;
	margin: 10px 0 10px 0;

}

#containerDownload{
	margin: 20px 0;
}

.col-btn:first-child button{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0	;
}
.col-btn:nth-child(2) button{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#containerDownload .col-btn:nth-child(2) button{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#containerDownload  .col-btn:nth-child(3) button{
	border-radius: 0;
}

#containerDownload  .col-btn:nth-child(4) button{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.desc-var {
	color:	#aaa;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: justify;
	font-weight: 500;
}

.view-title, .view-title-leg {
	width: 100%;
	margin-top:	20px;
	padding-right: 5px;
	color: #aaa;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Lato Regular;
}

#menu-view .view-title-leg{
	margin-top: 0px;
	font-size: 18px;
}

.view-title-leg{
	padding: 20px 0 0 0;
	text-align: center;
}



#menu-view, #menu-view-donut {
	float: left;
	width: 40%;
	margin-top: 16px;
	/*border: 3px #f0f0f0 solid;*/
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 2px;
}

svg text{
	font-size: 10px;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
svg rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	stroke: rgba(255, 255, 255, 0.47);
}
.states path{
	stroke: rgba(255, 255, 255, 0.47);
}
svg line {
	stroke: black;
}
.barras-title, .treemap-title{
	text-transform: uppercase;
	letter-spacing: 0px;
	font-size: 8px !important;
}

.eixo-ativo {
	width:	200px;
}

.eixo-inativo {
	width: 160px;
	margin: 15px;
}

.tooltip {
	position: absolute;
	text-align: center;
	min-width: 60px;
	padding: 8px 10px;
	font: 12px sans-serif;
	color: #fff !important;
	background: #39393a;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	opacity: 1
}
.tooltip.none {
	opacity: 0;
}
.tooltip p {
	display: block;
	height:15px;
	margin: 0;
	margin-bottom: 2px;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 14px;
	white-space: nowrap;
}

/* menu */
.menu-bottom{
	padding-top: 0vh;
	padding-bottom: 4vh;
	height: auto;
}
.menu-bottom .menu-content{
	padding: 15px 0px 5px 0px;
	width: 100%;
	color: #737277;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}
.menu-bottom .menu-content .text{
	display: inline-block;
	margin: 0px;
	line-height: 15px;
}
.menu-bottom .menu-content .square-icon{
	display: inline-block;
	width: 20px;
	height: 30px;
	margin: 0px 5px 0px 0px;
	background-color: white;
	vertical-align: top;
}

/*menu mobile*/
.menu-select{
	background-color: transparent;
	background-image: url('../images/arrow.png');
	background-size: 25px;
	background-position: right center;
	background-repeat: no-repeat;
	padding: 8px 15px 8px 8px;
	color: #737277;
	border: 1px solid #eee;
	outline: none;
	max-width: 290px;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 1px;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	margin-bottom: 50px;
}
.opt-select{
	background-color: #FFF;
	background-image: url(../images/arrow.png);
	background-size: 10px;
	background-position: right center;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 5px;
	color: #737277;
	border: 1px solid #eee;
	outline: none;
	width: 100%;
	font-size: 9px;
	border-radius: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 5px 0px;
}


.breadcrumb{
	display: block;
	justify-content: center;
	width: auto;
	max-width: 1150px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;


}

.bread-select, .bread-eixo{
	float: left;
	background-color: #f0f0f0;
	background-size: 10px;
	background-position: right center;
	background-repeat: no-repeat;
	padding: 2px 10px 2px 5px;
	color: #737277;
	border: 1px solid #fff;
	outline: none;
	width: 100%;
	font-size: 10px;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 1px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	margin: 2px 0px 5px 0px;
	background-image: url(../images/arrow.png);
	cursor: pointer;
	border: 1px #ddd solid;
	display: block;
}

.bread-select-var{
	width: 100%;
}

.bread-select-eixo{
	width: 100%;
}


.bread-select-prc{
	width: 10%;
}


.bread-parent{
	width: 100%;
	min-height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom: 1px #f7f7f7 solid;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: white;
}
.bread-container{
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bread-caixa{
	min-width: 10%;
	height: 100%;
	display: flex;
	flex-flow: row;
}

.bread-caixa .opcao{
	width: 100%;
}

.rotulo-bread{
	padding-left: 5px;
	font-size: 12px;
	text-align: center;
}


.bread-separator{
	margin: 8px 10px;
	float:left;
	font-size: 20px;
	color: #ddd;
	height: auto;
}

select[disabled].opt-select{
	background-image: url('../images/arrow_pb.png');
	background-color: #d4d4d4;
	border-color: #d4d4d4;
	color: #808080;
}

.desc-chart .title {
	margin-bottom: 40px;
	margin-top: 40px;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 40px;
	text-align: center;
}

select[disabled].bread-select{
	background-image: url('../images/arrow_pb.png');
	background-color: #d4d4d4;
	border-color: #d4d4d4;
	color: #808080;
}

.opt-select-title{
	background-color: #FFF;
	background-image: url('../images/arrow.png');
	background-size: 20px;
	background-position: right center;
	background-repeat: no-repeat;
	padding: 5px 15px 5px 8px;
	color: #737277;
	border: 1px solid #eee;
	outline: none;
	width: auto;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	margin: 15px 0px;
}
.bread-select option[disabled]{
	color: #bbb;
}

select[disabled].opt-select-title{
	background-image: url('../images/arrow_pb.png');
	background-color: #d4d4d4;
	border-color: #d4d4d4;
	color: #808080;
}

.input-control{
	background-color: #FFF;
	padding: 5px 15px 5px 8px;
	color: #737277;
	font-size: 10px;
	border: 1px solid #b8c0a5;
	outline: none;
	width: 85%;
	margin: 15px 0px;
}
.button-control-down{
	background-color: #1b452e;
	background-image: url('../images/download.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #737277;
	font-size: 10px;
	width: 15%;
	height: 25px;
	margin: 15px 0px;
	vertical-align: middle;
}
.down-loading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*===== dark =====*/
body.contraste{
	background: #000 !important;
	color: #FFF !important;
}
.contraste a.link{
	color: #FFF;
}
.contraste a.link p{
	text-decoration: underline;
}
.contraste .desc{
	color: #FFF;
}
.contraste .square-icon{
	background-color: #FFF !important;
}
.contraste a.home.button{
	background-color: #FFF;
	color: #2F2F2F;
}
.contraste .logo-min{
	background-image: url(../images/logo_min_dark.png);
}
.contraste p.title{
	color: #EAE9E8;
}

.contraste ul.var-list li{
	background: #333;
}

.contraste article.results-article{
	background-color: #2F2F2F;
}
.contraste .container-chart .content .chart{
	border-color: #808080;
}
.contraste button.opt{
	background-color: #fff;
	color: #000;
}
.contraste button.opt:hover, .contraste button.opt.active{
	background-color: #808080;
	color: #fff;
}
.contraste .opt-title{
	color: #FFF;
}

button.opt.active{
	pointer-events: none;
	cursor: default;
}


/*==== responsivo ====*/
@media (max-width: 1499px){
	.menu-content{
		font-size: 12px;
		letter-spacing: 1px;
	}
	.menu-item .menu-content .square-icon,
	.menu-content .square-icon{
		height: 55px;
		width: 25px;
	}
	.menu-content .text{
		margin: 10px 0px;
	}

	.description-number {
		text-transform: uppercase;
		font-size: 1vw;
	}
}
@media (max-width: 1199px){

	.description-number {
		text-transform: uppercase;
		font-size: 1.5vw;
	}

	.menu-content{
		font-size: 9px;
		letter-spacing: 0px;
	}
	.menu-item .menu-content .square-icon,
	.menu-content .square-icon{
		height: 45px;
		width: 20px;
	}
	.menu-content .text{
		margin: 8px 0px;
	}
	.desc-chart .title{
		text-align: center;
		font-family: Bookman Old Style;
		font-size: 25px;
	}
	.desc-chart .title span{
	}
	#desc-var {
		text-align: justify;
		margin-top: 10px;
	}
	#background_2 {
		height: 1200px;
	}
}
@media (max-width: 991px){
	.desc-chart .title span{
	}
	#title-view {
		margin: 0;
	}
	#desc-var {
		text-align: justify;
	}
	.home-info{
		height: auto;
		padding: 75px 0px;
	}
	.menu-item, .neccult-info{
		height: 50vh;
	}
	.desc-chart .title{
		text-align: center;
		font-family: Bookman Old Style;
		font-size: 20px;
	}
	.desc-chart .logo-desc{
		margin: 45px 0px;
	}
	.menu-bottom .menu-content{
		font-size: 10px;
		letter-spacing: 0px;
	}
	.menu-bottom .menu-content .square-icon{
		width: 15px;
	}
	.menu-content{
		font-size: 11px;
		letter-spacing: 1px;
	}
	p.title  {
		font-size: 15px;
	}

	.opts-result .row{
		margin: 15px 0px;
	}
	.container-chart .content{
		padding: 0px;
	}

	.video{
		display: none;
	}
	.menu-item .menu-content#item1:hover{
		background-image: url('../images/1_menu1.jpg');
	}
	#background_2 {
		height: 1300px;
	}

}
@media (max-width: 767px){
	body.home{
		padding-bottom: 60px;
	}
	.menu-item{
		padding: 0px;
	}
	.menu-item{
		height: 250px;
	}
	.menu-item .menu-content .square-icon{
		height: 45px;
	}
	.neccult-info{
		height: 50vh;
		padding: 0px 0px 0px 5px;
	}

	.menu-bottom{
		margin: 15px 0px;
		padding: 0px;
	}
	.menu-bottom .menu-content{
		padding: 5px 0px;
		font-size: 9px;
		letter-spacing: -.5px;
	}
	.menu-bottom .menu-content .square-icon{
		width: 5px;
		margin-right: 0px;
	}
	a.home button{
		margin: 10px 0px;
	}
	svg text{
		font-size: 9px;
	}
	#background_2 {
		height: 1400px;
	}
}
@media (max-width: 479px){
	.show-xxs{
		display: block;
	}
	.hidden-xxs{
		display: none;
	}
	.col-xxs-offset-1{
		margin-left: 8.33333333%;
	}
	.col-xxs-6{
		width: 50%;
	}
	.col-xxs-10{
		width: 83.33333333%;
	}
	.col-xxs-12{
		width: 100%;
	}

	.neccult-info{
		height: auto;
		height: auto;
	}
	.logo-neccult{
		margin: 10px auto;
	}

	.menu-item .menu-content .square-icon{
		width: 20px;
		height: 40px;
	}
	.menu-bottom{
		height: auto;
	}
	.menu-bottom .menu-content .square-icon{
		display: block;
		width: 15px;
		height: 15px;
	}
	.menu-bottom .menu-content .text{
		margin: 5px 0 0 0;
		line-height: 10px;
		font-size: 8px;
	}
	.menu-content{
		font-size: 9px;
	}

	svg text{
		font-size: 7px;
	}
	.chart{
		max-width: 100vw;
	}
	#background_2 {
		height: 2350px;
	}
}
#barra-slide{
	position: absolute;
	left: 40%;
	width: 20%;
	height: 12px;
	background-color: #fff;
	border-radius: 8px;
}
.eixo-barra{
	float:left;
	width:25%;
	height: 100%;
	border-radius:4px;
}

.omitir{
	display: none;
}

.mob-bread{
	width:100%;
	height: 200px;
	background-color: black;
}

@media (max-width: 1599px) {
	.container-boxes{
		padding: 0 5%;
	}

	.bread-container {
		width: 90%;
	}
}

@media (max-width: 1199px) {

	.mob-bread{
		font-size: 24px;
	}
	.mob-rotulo-bread{
		padding: 10px 5px 5px 10px;
		color: white;

	}



	.nome-var{
		margin: 80px auto 40px auto;
	}

	#containerDados, #containerBarra, #containerDesc, #containerMapa{
		left: 0;
		right: 0;
		margin-top: 100px;
	}

	.bread-select, .bread-eixo{
		float: left;
		background-color: #f0f0f0;
		background-size: 10px;
		padding: 2px 10px 2px 5px;
		color: #5b5b5f;
		outline: none;
		width: 90%;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 1px;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		margin: 5px 5% ;
		background-image: url(../images/arrow.png);
		border: 1px #e7e7e7 solid;
		display: block;
		height: 40px;
	}

	.bread-caixa span{
		margin: 0;
		text-align: center;
	}

	#menuvariaveis .row {
		padding-left: 0px;
	}

	.results-content{
		padding: 0;
	}

	#view-boxes{
		padding: 0;
		margin: 0;
	}

	#view-boxes > div{
		margin: 20px 0 0 0;
	}

	#resultado{
		margin: 0;
	}

	#containerDesc{
		height: 500px;
		padding: 30px;
		line-height: 20px;
	}

	.footer-content-index{
		margin: 0;
	}

	.w3-sidebar{
		height:auto;
		top: 50px;
		left: 0px;
		min-height: 200px;
		width:100%;
		background-color:#fff;
		position:fixed!important;
		z-index:500;
		overflow:auto;
		opacity: 0.95;
		padding-bottom: 10px;
	}


	.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{
		color:#fff!important;background-color:#616161!important
	}

	.w3-animate-left{
		position:relative;
		animation:animateleft 0.6s
	}@keyframes
	 animateleft{
		 from{
			 left:-300px;
			 opacity:0
		 }
		 to{
			 left:0;
			 opacity:1
		 }
	 }

	.w3-bar .w3-bar-item{
		padding:8px 16px;
		float:left;
		width:100%;
		border:none;
		display:block;
		outline:0
	}

	/*.w3-bar-block.w3-center .w3-bar-item{*/
	/*text-align:center*/
	/*}*/

	.w3-block{
		display:block;
		width:100%
	}

	/*.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{*/
	/*text-align:center*/
	/*}*/

	.w3-btn,.w3-button{
		border:none;
		display:inline-block;
		padding: 0 16px;
		vertical-align:middle;
		overflow:hidden;
		text-decoration:none;
		color:#f0f0f0;
		background-color:inherit;
		cursor:pointer;
		font-size: 30px;
		height: 100%;
		white-space:nowrap
	}


	.fechar{
		position: relative;
		right:0;
		top:0;
		width: 100%;
		text-align: right;
		height: 50px;

	}


	.menu-title{
		float: right;
		padding-top: 6px;
		padding-right: 10px;
		color: white;
		font-size: 24px;

	}

	#barra-menu{
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		font-weight: 500;
		color: #ddd;
	}

	#resultado_view{
	}


	.header{
		color: #f1f1f1;
		height: 50px;
		background-color: #616161;
		top: 0;
		width: 100%;
		position: fixed;
		z-index: 999;

	}

	.sticky{
		top: 0;
		height: 50px;
		left: 0;
		position: fixed;
		right: 0;
		z-index: 100;
	}


	.menu-fixo {

	}

	.eixo-mob{
		height: 80px;
		width: 25%;
		padding: 2px;

	}

	.eixo-mob img{
		width: 100%;
		height: 100%;

	}

	#menu-mob-eixo{
		display: flex;
		flex-direction:  row;
		width: 100%;
		margin: 20px 0;

	}

	.view-title-leg{
		margin: 0;
		padding: 0;
	}


	.rotulo-bread{
		text-align: left;
		font-size: 16px;
		margin-left: 5%;
		margin-top: 5px
	}

	#btn-opt{
		width: 100%;
	}

	#containerTree *{
		width: 100%;
	}

	#view_box_scc{
		height: 60%;
	}


	#containerTree #menu-view{
		width: 100%;
		padding-left:20px;

	}

	#containerTree #menu-view .view-title-leg{
		padding-bottom: 20px;
	}

	#containerTree #chart{
		margin: 5px 5px 0 5px;
		padding: 0;
	}

	#title-view-leg-scc{
		height: 100px;
		padding-top: 0;

		display: flex;
		flex-flow: column wrap;

	}

	#title-view-leg-scc span{
		width: 50%;
	}

	.view-title-leg{
		margin: 0;
	}

	.data-values {
		margin-top: 1px;
		width:	100%;
		color: #bbb;
		font-size: 14px;
		letter-spacing: 1px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		font-family: Lato Regular;
		height: 85%;
		padding-bottom: 20px;
	}

	.integer-value {
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 30%;
		width: 100%;
	}

	.container-flex {
		width: 90%;
	}

	.integer-flex{
		flex-grow: 1;

	}

	.percent-flex{
		flex-grow: 2;
	}

	.percent-value {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		width: 100%;

	}

	#containerDados{
	}

	.number{
		font-size: 4vw;
		text-align: center;
		justify-content: center;

	}

	.description-number{
		font-size: 4vw;
		text-align: center;
		margin-top: 10px;
		justify-content: space-around;

	}

	.percent-value .number, .percent-value .description-number{
		font-size: 3vw;
		text-align: center;
		align-items: center;



	}

	#containerDados .view-title{
		margin-top: 18px;
		font-size: 18px;
	}

	.content-btn-mapa{
		width: 100%;
	}
	.desc-chart .title{
		font-family: "Lato Regular";
	}

	article.results-article{
		padding-top: 0;
	}



	/*** SELECT ***/



}


@media (max-width: 1499px) {


	.bread-select, .bread-eixo{
		/*font-size: 13px;*/
	}

	.description-number{
		font-size: 1vw;
	}
	.percent-value .description-number{
		font-size: 1vw;
		line-height: 20px;
	}

}

@media (max-width: 1199px) {

	.bread-select, .bread-eixo{
		font-size: 11px;
	}

	.integer-value .description-number{
		font-size: 2vw;
		line-height: 25px;
	}

	.percent-value .description-number{
		font-size: 2vw;
		line-height: 25px;
	}


}

@media (max-width: 799px) {

	.container-boxes{
		padding: 0 1%;
	}

	.view-boxes div{
		margin: 10px 0 0 0;

	}

	#containerDados, #containerBarra, #containerDesc, #containerMapa{
		left: 0;
		right: 0;
		margin-top: 20px;
	}


	.description-number{
		font-size: 2vw;
	}



	.percent-value .description-number{
		font-size: 2vw;
		line-height: 20px;
	}

}

@media (max-width: 499px) {


	.integer-value .description-number{
		font-size: 4vw;
		line-height: 20px;
	}

	.percent-value .description-number{
		font-size: 4vw;
		line-height: 20px;
	}

}

html, body, #section1, #resultado{
	height: 100%;
}



#resultado_view{
	height: 100%;
	overflow: auto;
}
